{% import "views/macros/pagination.html.twig" as pag %}

{% extends "views/layout.html.twig" %}

{% block content %}

<div class="page-header" style="margin-top: 0;">
  <h2 style="margin-top: 10px;">Changelog</h2>
  <h4 class="text-left text-muted">Showing history of changes</h4>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Item</th>
      <th>User</th>
      <th>Source</th>
      <th>Changes</th>
      <th>Is first</th>
      <th>Is change</th>
      <th>Raw</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
  {% for row in rows %}
    {#{% include "views/partials/changelog_row.html.twig" %}#}
    {% include "views/partials/changelog_row_new.html.twig" %}

  {% endfor %}

</table>

<div class="clearfix"></div>

<div class="pagination-bar text-center">
  {{ pag.pagination_render(pagination, {pages_count: 8}) }}
</div>


{#<pre>
{{ rows | debug }}
</pre>#}

{% endblock %}

{% block before_body_end %}
{% endblock %}
