{% extends "views/layout.html.twig" %}

{% block content %}

<div class="page-header" style="">
  <div class="btn-toolbar pull-right">
    <div class="btn-group">
    </div>
  </div>
  <h1 style="font-size: 24px; margin-top: 0px; margin-bottom: 0px;">User information</h1>
</div>

<div class="container">
  <div class="row">

    <strong>Profile</strong><br />
    {#Name: {{ user.name }} <br />
    Email: {{ user.email }}<br />#}
    Account created: {{ user.createdAt | date('MM/DD/YYYY') }}<br />
    <br />

  </div>
</div>
{% endblock %}
